.box {
	width: 400px;
	height: 40px;
	border: 2px solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	text-align: center;
}

.error {
	border-color: rgb(73, 27, 27);
	font: rgb(73, 27, 27);
	background-color: rgb(207, 166, 166);
}

.info {
	border-color: rgb(8, 31, 4);
	font: rgb(8, 31, 4);
	background-color: rgb(212, 243, 206);
}